@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Work Sans", sans-serif;

}
/* banner section strat style here */
.banner-container{
    width: 1440px;
    margin: 0 auto;
    border: 2px solid red;
    height: 652px;
    margin-top: 20px;
    background-image: url(/assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    flex-direction: column;
}

.banner{
    display: flex;
    justify-content: space-between;
}

.banner-profile-pic{
    width: 240.28px;
    margin-bottom: 32px;
}

.banner-title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px ;

}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    }
    

.btn-primary{
    
background: rgb(13, 19, 33);
font-weight: 600;
padding: 21px 24px 21px 24px;;
border-radius: 8px;
border: none;
font-size: 20px;
color: rgb(255, 255, 255);
margin-bottom: 44px;
}

